local.file_match "system" {
  path_targets = [
    {__path__ = "/var/log/messages", job = "varlogs", host = "{{ agent_identity }}"},
    {__path__ = "/var/log/secure",   job = "secure",  host = "{{ agent_identity }}"},
  ]
}

loki.source.file "system" {
  targets    = local.file_match.system.targets
  forward_to = [loki.write.default.receiver]
}

loki.write "default" {
  endpoint {
    url = "{{ loki_push_url }}"
  }
}
