Plugins.Mysql.Sessions.{{ mysql_session_name }}.Uri=tcp://127.0.0.1:3306
Plugins.Mysql.Sessions.{{ mysql_session_name }}.User={{ mysql_monitor_user }}
Plugins.Mysql.Sessions.{{ mysql_session_name }}.Password={{ mysql_monitor_password }}
